
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
  }
  
  .stock-input,
  .quantity-input,
  .price-input {
    width: 100%;
    max-width: 300px;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .stock-input::placeholder,
  .quantity-input::placeholder,
  .price-input::placeholder {
    color: #888;
  }
  
  .button-style {
    width: 300px;
    height: 40px;
    padding: 10px 20px;
    background-color: #00239c;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    white-space: nowrap;
  }
  
  button:hover {
    background-color: #000061; /* Darker shade of blue for hover effect */
  }